html{
	margin:0;
	padding: 0;
}
body{
	margin: 0;
}
i:hover{
	opacity: 0.5;
}
#clearstorage{
	position: absolute;
	bottom: 0;
	right: 0;
}
h1{
	display: block;
	font-family: Aldrich;
	text-align: center;
	letter-spacing: 10px;
	font-size: 40px;
	color: white;
	-webkit-text-stroke: 1px black;
}
nav{
	display: flex;
	overflow-x: auto;
	padding-bottom: 10px;
	padding-top: 30px;
	justify-content: center;
	scrollbar-width: none;
}
nav::-webkit-scrollbar{
	display: none;
}
nav i{
	font-size: 15px;
	margin-left: 10px;
}
#project-list{
	display: flex;
}
#project-list *{
	display: block;
	margin: 0 10px -9px 10px;
	padding: 0 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#project-list div{
	display: inline;
	cursor: pointer;
}
#project-list div *{
	margin: 0;
	display: inline;
}
#project-list div:hover{
	background-color: whitesmoke;
}
.active-project{
	background-color: whitesmoke;
}
#todo-list{
	display: grid;
	border-top: 1px solid gainsboro;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 10px;
	margin: 10px 25% 10px 25%;
	padding: 10px 10px 10px 10px;
	align-items: center;
	overflow: auto;
}
.save-button{
	background-color: #1A73E8;
	color: white;
	padding: 5px 15px;
}
.save-button:hover{
	opacity:0.5;
}
.todo{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 12rem;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 2em 2em 2em 2em;
	border: 1px solid gainsboro;
	border-radius: 10px;
}
.todo *{
	margin: 5px 5px 5px 5px;
	min-block-size: 10px;
}
.todo div,span{
	border: none;
}
.todo input,textarea{
	border: 0.1px ridge gainsboro;
}
#todo-options{
	position: absolute;
	top: 2px;
	right: 2px;
}
#todo-options *{
	color: lightgray;
	font-size: 20px;
	top: 2px;
	right: 2px;
}
#addtodoicon i{
	font-size: 40px;
	line-height: 12rem;
}
@media only screen and (max-width: 768px){
	#todo-list{
		margin: 0;
		grid-template-columns: 50% 50%;
		padding: 5px 0 5px 0;
		grid-gap: 2px;
	}
	.todo{
		margin: 0;
		padding: 0;
	}
	.todo *{
		margin: 2px 2px 2px 2px;
	}
}
@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake{
    animation-name: shake;
    animation-duration: 0.3s;
    transform-origin:50% 50%;
    animation-iteration-count: 1;
}

